.pic-details-modal {
  flex-direction: column;
  border-radius: 20px;
  padding: 25px;
  padding-bottom: 45px;
  color: #ffffff;
  background: rgb(60, 60, 60);
  background-image: url(https://images.unsplash.com/photo-1569075319321-f73e651c2c7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1930&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  filter: brightness(95%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100vh #00000069;
  transition: .6s;
  max-height: 75vh;

  &.close {
    opacity: 0;
    z-index: -1;
  }

  &.open {
    z-index: 2;
    opacity: 1;
  }

  &.hige-modal{
    max-height: 75vh;
    min-width: 40vw;
  }

  &.wide-modal{
    max-width: 80vw;
  }


  .details-title {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #ffffff;
  }
  .pic-container{
    align-self: center;
    display: flex;
    justify-content: center;
    .pic-details-img {
      align-self: center;
      padding: 10px;
      width: 80%;
      height: 100%;
      object-fit: contain;

  
      &.hige-image {
        max-height: 50vh;
      }
  
      &.wide-image {
        max-height: 50vh;
        max-width: 100%;
      }
    }
    
  }


  .detail-item {
    font-size: 1.25rem;
    margin-left: 2%;

    .detail-subtitle {
      text-transform: capitalize;
      font-family: lato;
      font-weight: 600;
      font-size: 1.4rem;
      padding-right: 5px;
    }
  }

  .close-modal-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0 4px;
    border: 1px solid white;
    border-radius: 10px;

    &:hover {
      opacity: .8;
    }
  }
}