.app-container {
  height: 100%;
  width: 100%;
  background: rgba(230, 230, 230, 0.431);

  .main-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .paging-section {
    width: 100%;
    font-size: 1.3rem;
    margin-top: 30px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center
  }

  /* EXTRA SMALL */

  @media (min-width:350px) {
    .pics-container {
      padding: 25px;
      grid-template-columns: 1fr;
      gap: 15px;
    }
    .category-modal{
      width: 60%;
    }
  }

  /* SMALL */

  @media (min-width:640px) {
    .pics-container {
      padding: 10px;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .category-modal {
      .select-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  /* MEDIUM */

  @media (min-width:940px) {
    .pics-container {
      padding: 25px;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }

    .category-modal {
      width: 50%;
      .select-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  /* LARGE */

  @media (min-width:1220px) {

    .pics-container,
    header {
      width: 1180px;
    }

    header {
      padding: 0 30px;
    }
  }

  /* EXTRA WIDE */
  @media (min-width:1520px) {

    .pics-container,
    header {
      width: 1460px;
    }

    header {
      padding: 0 50px;
    }
  }
}